<%- layout('layouts/boilerplate') %>

<div>
    <a href="/customers/new">Add Customer</a>
</div>
<div>
    <h1><%= title %> </h1>
    <ul>
        <% for (customer of customers) { %>
        <li><a href="/customers/<%= customer._id %>"><%= customer.name %></a></li>
        <% } %>
    </ul>
</div>