<%- layout('layouts/boilerplate') %>

<h1><%= title %> </h1>
<form action="/customers" method="POST">
    <div style="margin-bottom: 10px">
        <label for="name">Name: </label>
        <!-- Declare as shown in name to encapsulate body result under customer. -->
        <input type="text" name="customer[name]" id="name" placeholder="Business name">
        <label for="Industry">Industry: </label>
        <input type="text" name="customer[industry]" id="industry" placeholder="Industry name">
    </div>
    <div style="margin-bottom: 10px">
        <label for="location">Location: </label>
        <input type="text" name="customer[location]" id="location" placeholder="Location">
        <button>Submit</button>
    </div>
</form>
<div>
    <a href="/customers">All customers</a>
</div>